body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    background-color: skyblue;
}

h1 {
    color: #ec3750;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    border-radius: 10px;
    height: 500px;
    width: 500px;
    border: 2px dashed black
}